@import url("https://fonts.googleapis.com/css?family=Space+Grotesk:400|Ubuntu:700");
html {
    font-size: 87.5%;
} /*14px*/
body {
    background: white;
    font-family: "Space Grotesk", monospace;
    font-weight: 400;
    color: #1e2939;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img {
    padding-top: 40px;
    object-fit: fill;
}
a {
    color: #fc5130;
}
p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.44rem;
    margin: 0px 0px 10px 0px;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.9rem;
    color: rgba(12, 16, 22, 0.5);
}
.vbar {
    color: #1e2939;
}
.highlight {
    color: #fc5130;
}

ol li {
    margin-left: -1.8em;
}

ul {
    padding-left: 0px;
    margin: 10px 0px 25px -5px;
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #fc5130;
    font-weight: normal;
    line-height: 18px;
    display: inline-block;
}

ul li span {
    position: relative;
    left: 5px;
}

.sidebar {
    background-color: #1e2939;
    color: whitesmoke;
    width: 300px;
}
.sidebar > .content {
    margin-top: 50px;
    margin-left: 40px;
}
.main {
    background-color: whitesmoke;
    width: 800px;
}
.main > .content {
    padding: 50px 0px 15px 80px;
}
.summary > h5 {
    margin: 10px 0px 15px 0px;
}

.summary > h2 {
    margin: 10px 0px 10px 0px;
}

.summary > p {
    width: 400px;
    margin: 0px 0px 0px 0px;
}

.education {
    /* line-height: .1rem; */
}
